<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
    <title>乐淘分类</title>
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css"/>
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/category.css"/>
</head>
<body>
<div class="lt_container">
    <header class="lt_topBar">
        <a class="btn_left" href="javascript:history.back();"><span class="mui-icon mui-icon-arrowleft"></span></a>
        <h3>乐淘分类</h3>
        <a class="btn_right" href="search.html"><span class="fa fa-search"></span></a>
    </header>
    <div class="lt_content">
        <div class="lt_wrapper">
            <!--左侧栏-->
            <div class="lt_cateLeft">
                <ul>
                    <!--动态渲染-->
                </ul>
            </div>
            <!--右内容-->
            <div class="lt_cateRight">
                <ul class="mui-clearfix">
                    <!--动态渲染-->
                </ul>
            </div>
        </div>
    </div>
    <footer class="lt_tabBar">
        <ul>
            <li><a href="index.html"><span class="fa fa-home"></span><p>首页</p></a></li>
            <li class="now"><a href="category.html"><span class="fa fa-bars"></span><p>分类</p></a></li>
            <li><a href="cart.html"><span class="fa fa-shopping-cart"></span><p>购物车</p></a></li>
            <li><a href="user/index.html"><span class="fa fa-user"></span><p>会员中心</p></a></li>
        </ul>
    </footer>
</div>
<script type="text/template" id="firstCategory">
    <% for(var i = 0 ; i < rows.length ; i ++){ %>
    <li data-id="<%=rows[i].id%>" class="<%=i==0?'now':'' %>"><a href="javascript:;"><%=rows[i].categoryName%></a></li>
    <% } %>
</script>
<script type="text/template" id="secondCategory">
    <%if(rows.length == 0){%>
        <p style="padding: 10px">暂时没有分类数据</p>
    <%}else{%>
        <% for(var i = 0 ; i < rows.length ; i ++){ %>
            <li><a href="#"><img src="<%=rows[i].brandLogo%>" onerror="this.src = 'images/none.jpg' " alt=""/><p><%=rows[i].brandName%></p></a></li>
        <% } %>
    <%}%>
</script>
<script src="assets/mui/js/mui.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/common.js"></script>
<script src="js/category.js"></script>
</body>
</html>