<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>乐淘-后台管理系统</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/nprogress/nprogress.css"/>
    <link rel="stylesheet" href="assets/jquery-fileupload/jquery.fileupload.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<!--侧边栏-->
<aside>
    <div class="lt_info">
        <a href="index.html"><b>ITCAST</b></a>
    </div>
    <div class="lt_user">
        <img src="images/default.png" class="img-circle" alt="User Image">
        <span>管理员</span>
    </div>
    <ul class="lt_menu">
        <li><a href="userList.html"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
        <li>
            <a href="javascript:;">
                <span class="glyphicon glyphicon-list"></span>
                分类管理
                <span data-icon class="glyphicon glyphicon-menu-left"></span>
            </a>
            <div class="child">
                <a href="categoryFirst.html">一级分类</a>
                <a href="categorySecond.html">二级分类</a>
            </div>
        </li>
        <li class="now"><a href="product.html"><span class="glyphicon glyphicon-tags"></span> 商品管理</a></li>
    </ul>
</aside>
<!--右侧内容-->
<section>
    <!--头部-->
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <a data-menu href="javascript:;" title="切换" class="pull-left"><span
                    class="glyphicon glyphicon-align-justify"></span></a>
            <a data-logout data-toggle="modal" href="#logoutModal" title="退出" class="pull-right"><span
                    class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </nav>
    <!--内容-->
    <article>
        <div class="container-fluid">
            <!--路径导航-->
            <ol class="breadcrumb">
                <li><a href="../manage/index.html">后台管理</a></li>
                <li class="active">商品管理</li>
            </ol>
            <!--搜索-->
            <div class="lt_search">
                <button data-toggle="modal" data-target="#myModal" class="btn btn-primary pull-right mb20">添加</button>
            </div>
            <!--数据表格-->
            <div class="lt_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="5%">序号</th>
                        <th width="30%">商品名称</th>
                        <th width="20%">商品描述</th>
                        <th width="10%">商品库存</th>
                        <th width="10%">商品尺寸</th>
                        <th width="10%">状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div class="lt_pager">
                <ul class="pagination"></ul>
            </div>
        </div>
    </article>
</section>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeWindowId" data-dismiss="modal" >&times;</span></button>
                <h4 class="modal-title">添加商品</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        品牌：
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                选择品牌
                            </button>
                            <ul class="dropdown-menu"></ul>
                        </div>
                        <input type="hidden" name="brandId"/>
                    </div>
                    <div class="form-group">
                        <input name="proName" type="text" class="form-control" placeholder="商品名称">
                    </div>
                    <div class="form-group">
                        <input name="num" type="text" class="form-control" placeholder="商品库存">
                    </div>
                    <div class="form-group">
                        <input name="oldPrice" type="text" class="form-control" placeholder="原价">
                    </div>
                    <div class="form-group">
                        <input name="price" type="text" class="form-control" placeholder="现价">
                    </div>
                    <div class="form-group">
                        <input name="size" type="text" class="form-control" placeholder="鞋子尺码">
                    </div>
                    <div class="form-group">
                        <textarea name="proDesc" class="form-control" placeholder="商品描述"></textarea>
                    </div>
                    <div class="form-group">
                        图片：
                        <a id="fileupload" href="javascript:;"class="fileinput-button btn btn-default">
                            请上传3张商品图片<input accept="image/jpeg" name="pic1"  type="file">
                        </a>
                        <input type="hidden" name="productPic"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_closeId btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary brandSave">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/template" id="rows">
    <% for(var i = 0 ; i < rows.length ; i ++ ){ %>
    <tr>
        <th><%=i+1%></th>
        <td><%=rows[i].proName%></td>
        <td><%=rows[i].proDesc%></td>
        <td><%=rows[i].num%></td>
        <td><%=rows[i].size%></td>
        <td><%=rows[i].statu?'正常':'已下架'%></td>
        <td>
            <% if(rows[i].statu == 1){ %>
            <button data-id="<%=rows[i].id%>" class="btn btn-sm btn-danger">下架</button>
            <% }else{ %>
            <button data-id="<%=rows[i].id%>" class="btn btn-sm btn-primary">上架</button>
            <% } %>
            <button data-id="<%=rows[i].id%>" class="btn btn-sm btn-info">编辑</button>
        </td>
    </tr>
    <% } %>
</script>
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/nprogress/nprogress.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="assets/bootstrap-validator/js/bootstrapValidator.min.js"></script>
<script src="assets/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="assets/jquery-fileupload/jquery.fileupload.js"></script>
<script src="js/main.js"></script>
<script src="js/product.js"></script>
</body>
</html>