/*search form*/
.lt_search{
    margin-top: 10px;
    padding: 0 10px;
}
.lt_search form{
    position: relative;
}
.lt_search form .search_input{
    background: #fff;
    border: 1px solid #069;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}
.lt_search form .search_btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 34px;
    background: #069;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-size: 12px;
    border-radius: 0 6px 6px 0;
}

/*ËÑË÷ÅÅÐò*/
.lt_order{
    height: 30px;
    line-height: 30px;
    background: #eee;
    padding: 0 10px;
}
.lt_order a{
    font-size: 12px;
    color: #333;
    float: left;
    width: 25%;
    text-align: center;
}
.lt_order a.now{
    color: darkorange;
}
